.welcome-container {
    text-align: center;
    margin: 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeIn 0.5s forwards;
  }
  
  .welcome-title {
    font-size: 2.5em;
    color: #4CAF50;
    animation: bounce 1s;
  }
  
  .start-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: pulse 1s infinite;
  }
  
  .start-button:hover {
    background-color: #4CAF50;
  }
  
  /* Keyframes for bounce animation */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  /* Keyframes for pulse animation */
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }